#Primeira aula - 20.03.2024

In [ ]:
2+5

7

In [ ]:
print("Oi")

Oi

In [ ]:
print('Oi')

Oi

In [ ]:
print("Alô mundo")

Alô mundo

In [ ]:
3+1

4

In [ ]:
3

3

In [ ]:
4**-1

0.25

In [ ]:
x=5

In [ ]:
type(x)

int

In [ ]:
p = True

In [ ]:
q = False

In [ ]:
x = p and q

In [ ]:
y = p or q

In [ ]:
x

False

In [ ]:
y

True

In [ ]:
z = not(p and q)

In [ ]:
z

True

In [ ]:
x = 3
y = 5.6
z = "456"

In [ ]:
type(x)

int

In [ ]:
type(y)

float

In [ ]:
type(z)

str

In [ ]:
float(x) #transformando o número

3.0

In [ ]:
float(z) #transformando o z é número real

456.0

In [ ]:
int(y) #transformando o inteiro em real

5

In [ ]:
float("tomate") #vai dar erro por mudar o número pra texto

ValueError: could not convert string to float: 'tomate'

In [ ]:
#Meu primeiro programa Python

In [ ]:
print("Entre com o seu nome ")
nome = input()
print("Olá ", nome, ", Boa noite!")

Entre com o seu nome
Luria
Olá  Luria , Boa noite!

#Programa para calcular média aritmética

In [ ]:
valor1 = float(input("Digite o primeiro valor. "))
valor2 = float(input("Digite o segundo valor. "))
valor3 = float(input("Digite o terceiro valor. "))

Digite o primeiro valor. 2.0
Digite o segundo valor. 8.5
Digite o terceiro valor. 10.0

In [ ]:
media = round((valor1 + valor2 + valor3) / 3,2) #Para estabelecer o número de casas decimais para o valor calculado da média utiliza-se a função round()
print("A média é: ", media)

A média é:  6.83

In [ ]:
#Zeros à esquerda
x = int('002')
print(x)

2

In [ ]:
y = float('004.3')
print(y)

4.3

#Segunda aula - 27.03.2024

In [ ]:
#O meu primeiro programa

mensagem = 'Alô Mundo!'
print(mensagem)

Alô Mundo!

In [ ]:
A = 3
a = 4.5
Aa = 'quatro'
aA = 2/4
(A,a,Aa,aA)

(3, 4.5, 'quatro', 0.5)

In [ ]:
3*5-1+6

20

#Operadores lógicos

In [ ]:
3>5 or 4<6
3>5 and 4<6
not(3>5)

True

#Comentários

*   #jogo da velha
*   três aspas simples: mais de uma linha
*   três aspas duplas: mesma que o simples

#trocando valores de posição

*   aux = x
*   x = y
*   y = aux

In [ ]:
x=3
y=7
aux=x
x=y
y

7

In [ ]:
y=aux
y

3

In [ ]:
#trocando valores
x = int(input("Entre com o valor de x: "))
y = int(input("Entre com o valor de y: "))

aux = x
x = y
y = aux

print("Trocando de valores...")
print("O valor de x é: ", x)
print("O valor de y é: ", y)
print("Fim")

Entre com o valor de x: 2
Entre com o valor de y: 4
Trocando de valores...
O valor de x é:  4
O valor de y é:  2
Fim

#Terceira aula - 10.04.2024

In [ ]:
#função para somar dois números
def soma(x,y):
    z = x + y
    return z

In [ ]:
soma(4,5)

9

In [ ]:
def epar(x):
  if (x%2==0):
    R = "é par"
  else:
    R = "não é par"
  return R

In [ ]:
epar(6)

'é par'

In [ ]:
epar(5)

'não é par'

In [ ]:
def par_impar(x):
  if x % 2 == 0:
    print(x, "é par")
  else:
    print(x, "é impar")

par_impar(2)
par_impar(3)
par_impar(4)

2 é par
3 é impar
4 é par

In [ ]:
def maior(x,y):
  if (x > y):
    print(x, "é maior")
    #return x
  else:
    print(y, "é maior")
    #return y

In [ ]:
maior(4,3)
maior(7,3)
maior(2,2)
maior(5,2)

4 é maior
7 é maior
2 é maior
5 é maior

In [ ]:
def maior_maior(x,y,z):
  aux = x
  if (x > aux):
    x = y
  if (z > aux):
    y = aux

In [ ]:
print(maior_maior(2,4,7), "é maior")

None é maior

In [ ]:
def maior_maior(x,y,z):
  aux = x
  if (y > aux):
    aux = y
  if (z > aux):
    aux = z
  return("O maior é:", aux)

In [ ]:
maior_maior(2,3,7)

('O maior é:', 7)

#Quarta aula - 17.04. 2024

In [ ]:
num = int(input("Digite um valor: "))
if num > 0:
  print("é maior que 0")
if num <= 0:
  print("número inválido")

Digite um valor: 2
é maior que 0

In [ ]:
nota = float(input("Digite uma nota: "))
if (nota >= 6.0):
  print("Aprovado")
else:
  print("Reprovado")

Digite uma nota: 4
Reprovado

In [ ]:
def maior_maior(x,y):
  aux = x
  if (y > aux):
      aux = y
  if (z > aux):
      aux = z
  else:
    return("O maior é:", aux)

In [ ]:
a = int(input("Digite primeiro num: "))
b = int(input("Digite segundo num: "))
if (a > b):
  print("O primeiro é maior")
else:
  if (a < b):
    print("O segundo é maior")
  else:
    print("Números iguais")

In [ ]:
a = int(input("Digite primeiro num: "))
b = int(input("Digite segundo num: "))
c = int(input("Digite terceiro num: "))

menor = a
maior = a

if menor >= b:
  menor = b
if menor >= c:
  menor = c
if maior <= b:
  maior = b
if maior <= c:
  maior = c

print("O menor é:",menor, "e o maior é:", maior)

#Quinta aula - 24.04. 2024

#elif é uma abreviação de "else if"

In [ ]:
age = int(input("Digite a idade: "))
if(age <= 3):
  classific = "Infantil I"
elif(3 < age <= 6):
   classific = "Infantil II"
elif(6 < age <= 8):
   classific = "Infantil III"
elif(8 < age <= 11):
   classific = "Juvenil I"
elif(11 < age <= 14):
   classific = "Juvenil II"
elif(14 < age <= 18):
   classific = "Juvenil III"
elif(18 < age <= 50):
   classific = "Adulto"
elif(age >= 110):
    classific = "Idade inválida"
else:
   classific = "Sênior"
print("O aluno com ", age, " anos, está classificado como", classific)

Digite a idade: 101
O aluno com  101  anos, está classificado como Idade inválida

In [ ]:
num = int(input("Digite um número: "))
if(num > 0):
  n = "positivo"
elif(num < 0):
   n = "negativo"
else:
   n = "nulo"
print("O número", num, "é", n)

Digite um número: 0
O número 0 é nulo

In [ ]:
num = int(input("Digite um número: "))
if(num > 0):
  n = "positivo"
elif(num == 0):
   n = "nulo"
else:
   n = "negativo"
print("O número", num, "é", n)

Digite um número: -8
O número -8 é negativo

In [ ]:
ano = int(input('Digite o ano: '))
if (ano % 4 == 0 and ano % 100 != 0) or (ano % 400 == 0):
    print("O ano", ano, "é Bissexto")
else:
    print("O ano", ano, "NÃO é bissexto")

Digite o ano: 2020
O ano 2020  é Bissexto

Escreva um programa para ler um valor e escrever o seu antecessor

In [ ]:
valor = int(input('Digite um numero: '))
antecessor = valor - 1
print("O antecessor do número", n, "é:", antecessor)

Digite um numero: -3
O antecessor do número -3 é: -4

*   Leia a idade de uma pessoa expressa em anos, meses e dias.
*   Escreva a idade dessa pessoa expressa em apenas dias.
*   Considerar o ano com 365 dias e mês com 30 dias.

In [ ]:
from datetime import date

In [ ]:
ano_idade = int(input("Digite o ano que você nasceu: "))
mes_idade = int(input("Digite o número do mês que você nasceu: "))
dia_idade = int(input("Digite o dia que você nasceu: "))

calcule_idade = ((365 * ano_idade) + (30 * mes_idade) + dia_idade)
print("Idade total em dias: ", calcule_idade)

Digite o ano que você nasceu: 1990
Digite o número do mês que você nasceu: 12
Digite o dia que você nasceu: 2
Idade total em dias:  726712